<a href="https://colab.research.google.com/github/alishermutalov/pandas-lessons/blob/pandas-learning/groups_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv', index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [5]:
df.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [6]:
bins = [0, 10000, 20000, 50000]
df['price_bin'] = pd.cut(df.price, bins)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price_bin
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,"(10000, 20000]"
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,"(10000, 20000]"
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,"(10000, 20000]"
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,"(10000, 20000]"
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,"(10000, 20000]"

In [8]:
names = ["arzon", "o'rta", "qimmat"]
df['price_bin_name'] = pd.cut(df.price, bins, labels=names)
df['price_bin'] = pd.cut(df.price, bins)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price_bin,price_bin_name
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,"(10000, 20000]",o'rta
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,"(10000, 20000]",o'rta
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,"(10000, 20000]",o'rta
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,"(10000, 20000]",o'rta
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,"(10000, 20000]",o'rta

In [13]:
range = pd.cut(df.price, 3)
range.value_counts()

price
(5110.751, 18567.333]     44
(31983.667, 45400.0]       9
(18567.333, 31983.667]     5
Name: count, dtype: int64

In [11]:
range = pd.qcut(df.price, 3)
range.value_counts()
#pd.cut va pd.qcut funksyalarining farqi: cut -> guruhlarga ajratadi (ammo har bir guruhda teng balans bo'lmaydi)
#qcut -> guruhlarga ajratadi (ammo har bir guruhda teng balans bo'ladi)
#misol:
#pd.cut(df.price, 3)
#   taxminan : group1 = 44, group2 = 9, group3 = 5
#pd.qcut(df.price, 3)
#   taxminan : group1 = 20, group2 = 19, group3 = 19

price
(16430.0, 45400.0]    20
(5150.999, 7295.0]    19
(7295.0, 16430.0]     19
Name: count, dtype: int64